<div class="card form-color" style="width: 28rem;">
<ul class="list-group list-group-flush">
<%= form_with(model: page)  do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
        <% page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :summary, {class: "form-label form-l-f"} %>
    <%= form.text_field :summary, {class: "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :occurred_on, {class: "form-l-f"} %>
    <%= form.datetime_select :occurred_on, ampm: true %>
  </div>

  <div class="field mb-3">
    <%= form.label :description, {class:"form-label form-l-f"} %>
    <%= form.text_area :description, {class:"form-control"}%>
  </div>

  <div class="field">
    <%= form.label :degree, {class:"form-l-f"} %>
    <%#= form.text_field :degree %>
    <%= form.select :degree, ["Mild", "Moderate", "Severe"] %>
  </div>

  <div class="field mb-3">
    <%= form.label :image, {class:"form-label form-l-f"} %>
    <%= form.file_field :image, {class:"form-control form-l-f", id: "formFile"} %>
  </div>

  <!--<div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>-->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</ul>
</div>
