<p id="notice"><%= notice %></p>

<h1 class="homepage-title"><%= current_user.first_name %>'s Health Journal</h1>

<% if current_user.pages.empty? %>
  <div class="homepage-paragraph"><%=link_to "Create your first entry here", new_page_path %></div>
<% else %>

<div class="album py-5 blue-back">
    <div class="container">
      <div class="row bblb row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <% @pages.each do |page| %>
    <div class="col">
    <div class="card" style="width: 18rem;">

    <% if !page.image.present? %>
      <% if page.degree == "Mild" %>
        <img src="/images/mild.png" class="card-img-top" alt="image">
      <% elsif page.degree == "Moderate" %>
        <img src="/images/moderate_face.png" class="card-img-top" alt="image">
      <% elsif page.degree == "Severe" %>
        <img src="/images/severe.png" class="card-img-top" alt="image">
      <% end %>
    <% else %>
        <img src="<%= page.image %>" class="card-img-top" alt="image">
    <% end %>

      <div class="card-body">
        <h5 class="card-title little-text"><%= page.summary %></h5>
        <p class="card-text little-text"><%= page.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item little-text"><%= page.occurred_on.strftime("%D, %r") %></li>
      </ul>
      <div class="card-body little-text">
        <%= link_to 'Show', page %>
        <%= link_to 'Edit', edit_page_path(page) %>
        <%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    
    </div>
    </div>
    <% end %>
</div>
</div>
</div>
<% end %>
<br>
