<p id="notice"><%= notice %></p>

<p>
  <strong>Summary:</strong>
  <%= @page.summary %>
</p>

<p>
  <strong>Occurred on:</strong>
  <%= @page.occurred_on %>
</p>

<p>
  <strong>Description:</strong>
  <%= @page.description %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @page.degree %>
</p>

<p>
  <strong>Image:</strong>
  <%= @page.image %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
